/* .aboutCompany {
  text-align: center;
  
} */

.content {
  position: relative;
}

.content img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content h1 {
  position: absolute;
  top: 48%;
  left: 20%;
  color: white;
  z-index: 2;
  font-family:' Montserrat';
  font-size: 58px;
  font-weight: 400;
}

.allInfo {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 100px;
}
.informations{
  margin-top: 100px;
}
.info{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 40%;
}

.info h1{
  font-family: 'Merriweather', serif;
  font-size: 38px;
  line-height: 43px;
  color:cadetblue;
}
.info p{
  font-family: 'Merriweather', serif;
    font-size: 23px;
    line-height: 28px;
    color: grey;
    font-weight: 400;
}


.imageInfo .image{
  max-width: 500px;

}
.imageInfo {
  line-height: 25px;
  font-weight: 400;
}



.footerInfo {
  background-color: #f9f7f7;
  padding: 100px 0;
 
}

.foot {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
 
}

.foot h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.foot li {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
  flex-basis: calc(33.33% - 20px);
}
.foot li::before {
  content: "\2022"; /* Юникод символ для точки */
  padding-right: 5px;
  font-size: 24px;
  line-height: 1;
}



/* Добавьте следующие стили для мобильных устройств */
@media(max-width:1400px) {
  .info p{
    font-size: 21px;
    font-weight: 400;
  }
  .info h1{
    font-size: 35px;
  }
  
}
@media(max-width:1290px) {
  .info h1{
    font-size: 32px;
  }
  .info p{
    font-size: 18px;
    font-weight: 400;
  }
}

@media(max-width:1080px){
  .content img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  .info p{
    font-size: 15px;
  
  }
  .info h1{
    font-size: 27px;
  }
  .imageInfo .image{
    max-width: 450px;
  
  }
  .foot li{
    font-size: 15px;
  }
}
@media(max-width:900px){
  .content img {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .content h1 {
    font-size: 43px;
}
  .info h1{
    font-size: 25px;
    margin-bottom: 20px;
  }
}
@media(max-width:850px){
  .info p{
    font-size: 13px;
  
  }
  .info h1{
    font-size: 23px;
  }
}
@media (max-width: 800px) {
  

  .allInfo {
      flex-direction:column-reverse;
     
  }
  .info h1{
    text-align: center;
    font-size: 32px;
  }
  .info p{
    display: block;
    text-align:justify;
    font-size: 16px;
   
  }
  .info {
    width: 90%;
    gap: 20px;
      margin: 20px;
  }

  .imageInfo {
    display: block;
    text-align: center;
      order: -1;
  }
  .imageInfo .image{
    max-width: 400px;
    border-radius: 20%;
  }
  
  
}

@media(max-width:700px){
  .content img {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .foot h4{
    font-size: 17px;
  }
  .foot li{
    padding: 5px;
     font-size:12px
   }

}





@media (max-width: 768px) {
  .foot li::before {
      display: none;
  }
}

@media (max-width:550px){
  .image{
    max-width: 400px;
  }
}


@media(max-width:420px){
  .content img {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .content h1 {
    font-size: 35px;
}
  .info h2{
    font-size: 1.7rem;
  }
  .image{
    max-width: 300px;
  }
}

@media(max-width:415px){
  
  .foot li{
    font-size: 10px;
  }
  .info h2{
    font-size: 1.7rem;
  }
  .image{
    max-width: 300px;
  }
  
}