

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

/* Стили для обертки слайдера */
.beautifulSlider {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* Стили для слайдов */
.slide {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations{
  margin-top: 100px;
}
/* 
.content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.contentInfo{
  display: flex;
  flex-direction: column;
  gap: 30px;
} */
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.contentInfo {
  flex: 1;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.itemsInfo{
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.imageInfo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

.contentInfo h1{
  font-family: 'Montserrat';
  font-size: 38px;
  color:cadetblue;
  font-weight: 500;

}
.contentInfo p{
  font-family: 'Montserrat';
    font-size: 21px;
    line-height: 28px;
   
    font-weight: 400;
    padding-bottom: 10px;
}

/*  
  .imageInfo .image{
    max-width: 500px;
    height: auto;
    border-radius: 10%;
  }
  .itemsInfo {
    line-height: 25px;
    font-weight: 400;
  } */
.itemsInfo li{
  font-family: 'Montserrat';
  gap: 20px;
  color: grey;
  font-weight: 400;
}
  
  /* OurProducts */
  .ourProducts{
    margin-top: 100px;
    padding: 80px;
    background-color: #676767;
  }
  
  .ourProducts h1{
    text-align: center;
     font-family: 'Montserrat';
     letter-spacing: -2px;
     font-size: 38px;
    line-height: 43px;
    font-weight: 500;
    color: white;
    /* color:cadetblue; */
  }

  .itemBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
  
   }
   .itemBox h2{
    font-family: 'Montserrat';
    font-weight: 500;
   }
  .box{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: white;
    background: url("https://svitagro.com.ua/wp-content/uploads/2018/05/shutterstock_325466795.jpg") no-repeat center center/cover;
    width: 400px;
    height: 400px;
    margin: 20px;
    cursor: pointer;
    border-radius: 300px ;
    background-size: cover;
    transition: transform 0.3s ease;
    
  }

  .box:hover {
    transform: scale(1.1); 
    transition: transform 0.5s ease; 
  
  }
  .box1:hover {
    transform: scale(1.1); 
    transition: transform 0.5s ease;
  
  }
  .box2:hover {
    transform: scale(1.1); 
    transition: transform 0.5s ease; 
  
  }

.box1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: white;
    background: url('https://svitagro.com.ua/wp-content/uploads/2018/05/shutterstock_445559818.jpg') no-repeat center center/cover;
    width: 400px;
    height: 400px;
    margin: 20px;
    cursor: pointer;
    
    border-radius: 300px ;
    background-size: cover; 
    transition: transform 0.3s ease;
}
.itemBox a{
    text-decoration: none;
}
.itemBox a:hover{
    text-decoration: underline;
    border: 2px solid darkseagreen;
}
.itemBox h2:hover{
  color: deepskyblue
}
.box2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: white;
    background: url('https://svitagro.com.ua/wp-content/uploads/2021/05/friends-1149841-scaled.jpg') no-repeat center center/cover;
    width: 400px;
    height: 400px;
    margin: 20px;
    cursor: pointer;
    border-radius: 300px ;
    background-size: cover; 
    transition: transform 0.3s ease;
}



/* Partners  */
.partners{
  margin-top: 100px;

}
.partners h2{
  font-family: 'Montserrat';
  text-align: center;
  letter-spacing: -2px;
  font-size: 38px;
    line-height: 43px;
    font-weight: 500;
  padding-bottom: 50px;
  color:cadetblue;
}

.ourPartners{
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
}
  
.partnerBlock img{
  max-width: 100px;
  max-height: 70px;
}
.ourPartners .partnerBlock{
  flex: 0 0 calc(30% - 10px); 
  gap: 30px;
 
}


.partnerBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.partnerBlock p{
  font-family: 'Montserrat';
  font-weight: 400;
}
.partnerBlock:hover {
  transform: translateY(-5px);
  border: 1px solid darkcyan;
}

.partnerInfo {
  margin-left: 10px;
  font-weight: 400;
}

.partnerLink {
  display: none;
  margin-top: 10px;
  text-decoration: none;
  color:darkcyan;
}

.partnerBlock:hover .partnerLink {
  display: block;
}

.partnerInfo a{
  text-align: center;
}

/* contacts */
.contacts{
  margin-top: 100px;
  
}
.contacts h2{
  text-align: center;
  font-family: 'Montserrat';
  letter-spacing: -2px;
  font-size: 38px;
  line-height: 43px;
  font-weight: 500;
  padding-bottom: 50px;
  color:cadetblue;
}
.contactsInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactItems{
  margin: 50px;
}
.maps{
    margin-top: 100px;
   
}
.contactsInfo p{
    font-family: 'Montserrat';
    font-weight: 400;
    color:dimgrey;
    font-size: 18px;
}

.footer{
  display: flex;
  background-color:black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;

}

/* Стили для изображений в слайдах */

/* Медиа-запрос для адаптации стилей на маленьких экранах */



@media(max-width:1400px){
  .response {
    width: 100%;
    height: 90vh;
    object-fit: cover; 
  }
  .informations{
   margin-top: 50px;
  }
  .box, .box1, .box2 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;   
  }
}
@media(max-width:1300px){
  .box, .box1, .box2 {
    width: 330px;
    height: 330px;
  }
}


@media(max-width:1250px){
  .itemBox h2{
    font-size: 23px;
    
}

.contentInfo h1{ 
  text-align: center;
}
  .box, .box1, .box2 {
    width: 305px;
    height: 305px;
  }
}
@media(max-width:1200px){
  .contentInfo h1{
    font-size: 38px;
  }
  .ourProducts h1{
    font-size: 38px;
  }
  .partners h2{
    font-size: 38px;
    color: cadetblue;
  }
  .contentInfo p{
    font-size: 21px;
  }
  .box, .box1, .box2 {
    width: 350px;
    height: 350px;
  }
  .itemsInfo{
    display: block;
    margin: 0 auto;
    font-size: 15px;
  }

} 


/* Адаптация для разных разрешений и устройств */

@media(max-width:1180px){
  .box, .box1, .box2 {
    display: flex;
    justify-content: center;
    width: 290px;
    height: 290px;   
  }

  .informations{
    margin-top: 50;
  }
}
@media(max-width:1150px){

  .box, .box1, .box2 {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 270px;   
  }
  .itemBox h2{
    font-size: 19px;
  }
  .contentInfo p{
    font-size: 18px;

  }
  .itemsInfo li{
    padding: 5px;
   }
 
}
@media(max-width:1050px){
  .response {
    width: 100%;
    height: 90vh;
    object-fit: cover; 
  }
  .box, .box1, .box2 {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;   
  }
}

@media(max-width:1030px){

.imageInfo .image{
  width: 380px;
  height: 380px;
}
.box, .box1, .box2 {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 230px;   
}
.itemsInfo {
  font-size: 14px;
}
}

@media(max-width:980px){

    .contentInfo h1{
      font-size: 34px;
     
    }
    .contentInfo p{
      font-size: 18px;
    }
  
    .ourProducts h1{
      font-size: 35px;
    }
    .itemBox h2{
      font-size: 17px;
    }
    .partners h2{
      font-size: 35px;
    }
    .contacts h2{
      font-size: 35px;
    }
   
    .partnerInfo p{
      font-size: 12px;
    }
}



@media(max-width:930px){
  .imageInfo .image{
    width: 380px;
    height: 380px;
  }
  .contentInfo p{
    font-size: 18px;
  }
  .box, .box1, .box2 {
    display: flex;
    justify-content: center;
    width: 210px;
    height: 210px;   
  }

 
  
}

@media (max-width: 905px){
  .contentInfo h1{
    font-size: 28px;
   
  }
  .contentInfo p{
    font-size: 17px;
  }
  .itemsInfo{
    font-size: 14px;
  }
  .itemBox h2{
    font-size: 15px;
    
}
.box, .box1, .box2 {
  width: 200px;
  height: 200px;
}

}
@media(max-width:880px){

  .box, .box1, .box2 {
    width: 180px;
    height: 180px;
  }
  .imageInfo .image{
    width: 350px;
    height: 350px;
  }
}

@media(max-width:820px){
      .content{
        gap: 50px;
      }
      
 
      .contentInfo p{
        font-size: 16px;
      }
      .box, .box1, .box2 {
        width: 170px;
        height: 170px;
      }
    
      .partnerInfo{
        width: 40%;
       
      }
      .partnerInfo p{
        font-size: 12px;
      }
    .ourPartners{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
      
    
}

@media (max-width: 800px){
  .response {
    min-width: 100%;
    min-height: 70vh;
    object-fit: cover; 
  }
  .contentInfo h1{
    font-size: 28px;
  }
  .itemsInfo{
    font-size: 14px;
  }
  .contentInfo p{
    display: block;
      text-align:justify;
  }
  .partnerBlock p{
    font-size: 14px;
  }
  .box, .box1, .box2 {
    width: 170px;
    height: 170px;
  }
  

}

@media (max-width: 780px){

  
  .contentInfo h1{
    font-size: 25px;
  }
  .contentInfo p{
    font-size: 14px;
  }

  .box, .box1, .box2 {
    width: 160px;
    height: 160px;
  }
}


@media (max-width: 730px){
  .response {
    min-width: 100%;
    height: 60vh;
    object-fit: cover; 
  }
  .beautifulSlider {
    width: 100%;
    height: 80vh;
    display: flex;
    overflow: hidden;
  }
  
  .box, .box1, .box2 {
    width: 140px;
    height: 140px;
  }
  .imageInfo .image{
    width: 320px;
    height: 320px;
  }
  .ourProducts h1{
    font-size: 31px;
  }
  .ourPartners h2{
    font-size: 31px;
  }
  .contacts h2{
    font-size: 31px;
  }
  .contentInfo p{
    font-size: 11px;
  }
  .itemsInfo{
    font-size: 11px;
  }
}

@media (max-width: 700px){
  
  .contentInfo h1{
    font-size: 28px;
  }
  .contentInfo p{
    font-size: 15px;
  }
  .itemsInfo{
    font-size: 14px;
  }
  .itemBox h2{
    font-size: 13px;
  }
  .box, .box1, .box2 {
    width: 130px;
    height: 130px;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:650px){
  .response {
    min-width: 100%;
    height: 60vh;
    object-fit: cover; 
  }

}
@media(max-width:640px){
  .response {
    min-width: 100%;
    height: 50vh;
    object-fit: cover; 
  }
  .image{
    width: 300px;
    height: 300px;
  }
  .contactItems{
    margin: 25px;
  }

  .contactsInfo p{
    font-size: 11px;
    
  }
  .box, .box1, .box2 {
    width: 170px;
    height: 170px;
  }
  .partnerInfo p{
    font-size: 11px;
  }
}
@media(max-width:610px){
 
  .contentInfo p{
    font-size: 18px;
    
  }
  .itemsInfo{
    font-size: 15px;
  }
  .partners h2{
    font-size: 35px;
  }
 

  .contacts h2{
    font-size: 35px;
  }

}
@media(max-width:600px){
  .contentInfo h1{
    font-size: 32px;
  }
  .contentInfo p{
    font-size: 15px;
  }
 

}
@media(max-width:550px){
  .response {
    width: 100%;
    height: 30vh;
    object-fit: cover; 
  }
  .contentInfo h1{
    font-size: 30px;
  }
  .contentInfo p{
    font-size: 15px;
  }
  .itemsInfo{
    font-size: 14px;
  }
  .itemBox h2{
    font-size: 15px;
  }
  .box, .box1, .box2 {
    width: 150px;
    height: 150px;
  }
  

}
@media(max-width:520px){
  .contentInfo h1{
    font-size: 27px;
  }
  .contentInfo p{
    font-size: 14px;
  }
  .itemsInfo{
    font-size: 13px;
  }
  .image{
    width: 250px;
    height: 250px;
  }
  .itemBox h2{
    font-size: 12px;
  }
  .box, .box1, .box2 {
    width: 130px;
    height: 130px;
  }
  
}

@media(max-width:480px){
  
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contentInfo h1{
    font-size: 28px;
  }
  .contentInfo p{
    font-size: 17px;
  }
  .itemsInfo{
    font-size: 15px;
  }
  .image{
    margin-top: 50px;
    width: 350px;
    height: 350px;
  }
 
  .box, .box1, .box2 {
    width: 210px;
    height: 210px;
  }
  .contactsInfo{
    display: flex;
    text-align: center;
    flex-direction: column;
   align-items: center;
  }
  .contactsInfo p{
    font-size: 18px;
  }
  .contactsInfo a{
    font-size: 18px;
    color:cadetblue;
  }
}
@media(max-width:415px){
  
.contentInfo p{
  font-size: 13px;
}
.itemsInfo{
  font-size: 14px;
}
.partnerBlock img{
  max-width: 50px;
  max-height: 50px;
}
.itemsInfo li{
  padding: 10px;
 }
.box, .box1, .box2 {
  width: 180px;
  height: 180px;
}
.itemBox h2{
  font-size: 15px;
 }
}
@media(max-width:400px){
  .contentInfo p{
    font-size: 15px;
  }
  .image{
    width: 250px;
    height: 250px;
  }
 .ourProdContent h1{
  font-size: 32px;
 }
 .itemBox h2{
  font-size: 18px;
 }
 .box, .box1, .box2 {
  width: 2100px;
  height: 170px;
}
}
@media(max-width:350px){
 .contentInfo h1{
  font-size: 27px;
 }
 .contentInfo p{
  font-size: 13px;
}
.ourProdContent h1{
  font-size: 25px;
 }
 .itemBox h2{
  font-size: 13px;
 }
 .box, .box1, .box2 {
  width: 150px;
  height: 150px;
}
.partners h2{
  font-size: 32px;
}
.contacts h2{
  font-size: 32px;
}
.contactsInfo p{
  font-size: 15px;
}
.contactsInfo a{
  font-size: 15px;
  color:cadetblue;
}
}
